/*.editable-row .ant-form-item-explain {*/
/*    position: absolute;*/
/*    top: 100%;*/
/*    font-size: 12px;*/
/*}*/

.divBtn {
    height: 200px;
    width: 300px;
    opacity: 0.8;
    border-radius: 30px;

    font-family: STSong,"华文宋体",sans-serif;

    cursor:pointer;

    display: flex;
    flex-direction: column;
    justify-content: center;

}
